<p-dialog header="Controle da Tabela de Frete" [(visible)]="display" [modal]="true" [responsive]="true"
  [style]="{width: '800px', minWidth: '200px'}" [maximizable]="false" [baseZIndex]="10000">

  <div class="row" *ngIf="coleta?.tarifas.length > 0">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <p-messages [(value)]="msgs"></p-messages>
    </div>
  </div>

  <form [formGroup]="formGroup">
    <p-accordion>
      <p-accordionTab header="Endereço Cliente" [selected]="true">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="form-group">
              <label>Nome:</label>
              <input type="text" placeholder="Nome" class="form-control" formControlName="nomeCliente" disabled >
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="form-group">
              <label>
                <span>Número Documento</span>
              </label>
              <input type="text" placeholder="Número Documento" class="form-control"
                formControlName="documentoCliente" disabled >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="form-group">
              <label>Rua:</label>
              <input type="text" disabled placeholder="Username" class="form-control" formControlName="ruaCliente" >
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-lg-4">
            <div class="form-group">
              <label>
                <label>Bairo:</label>
                <input type="text" disabled placeholder="Username" class="form-control"
                  formControlName="bairroCliente"  >
              </label>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-lg-2">
            <div class="form-group">
              <label>
                <label>Número:</label>
                <input type="text" disabled placeholder="Username" class="form-control"
                  formControlName="numeroEnderecoCliente"  >
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-4 col-lg-4">
            <div class="form-group">
              <label>Cidade:</label>
              <input type="text" disabled placeholder="Username" class="form-control" formControlName="cidadeCliente"  >
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-lg-3">
            <div class="form-group">
              <label>
                <label>CEP:</label>
                <input type="text" disabled placeholder="Username" class="form-control" formControlName="cepCliente"  >
              </label>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-lg-3">
            <div class="form-group">
              <label>
                <label>Complemento:</label>
                <input type="text" disabled placeholder="Username" class="form-control"
                  formControlName="complementoCliente"  >
              </label>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-lg-2">
            <div class="form-group">
              <label>
                <label>UF:</label>
                <input type="text" disabled placeholder="Username" class="form-control" formControlName="ufCliente" >
              </label>
            </div>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Endereço Destinatário" [selected]="true">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="form-group">
              <label>Nome:</label>
              <input type="text" disabled placeholder="Username" class="form-control"
                formControlName="nomeDestinatario" >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-4 col-lg-4">
            <div class="form-group">
              <label>Cidade:</label>
              <input type="text" disabled placeholder="Username" class="form-control"
                formControlName="cidadeDestinatario" >
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="form-group">
              <label>Rua:</label>
              <input type="text" disabled placeholder="Username" class="form-control"
                formControlName="ruaDestinatario" >
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-lg-4">
            <div class="form-group">
              <label>
                <label>Bairo:</label>
                <input type="text" disabled placeholder="Username" class="form-control"
                  formControlName="bairroDestinatario" >
              </label>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-lg-2">
            <div class="form-group">
              <label>
                <label>Número:</label>
                <input type="text" disabled placeholder="Username" class="form-control"
                  formControlName="numeroEnderecoDestinatario" >
              </label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-3 col-lg-3">
            <div class="form-group">
              <label>
                <label>CEP:</label>
                <input type="text" disabled placeholder="Username" class="form-control"
                  formControlName="cepDestinatario" >
              </label>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-lg-3">
            <div class="form-group">
              <label>
                <label>Complemento:</label>
                <input type="text" disabled placeholder="Username" class="form-control"
                  formControlName="complementoDestinatario" >
              </label>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-lg-2">
            <div class="form-group">
              <label>
                <label>UF:</label>
                <input type="text" disabled placeholder="Username" class="form-control"
                  formControlName="ufDestinatario" >
              </label>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>

    <br />
    <h4>Valor do Frete</h4>
    <hr />

    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="form-group">
          <label>Valor do Serviço:</label>
          <input type="number" placeholder="Valor do Frete" class="form-control" formControlName="valorFrete">
        </div>
      </div>
    </div>

    <p-footer>
      <button type="button" class="btn btn-primary" (click)="salvarFrete()" >Salvar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </p-footer>
  </form>
</p-dialog>
