<p-dialog header="Registrar Coleta" [(visible)]="display" [modal]="true" [responsive]="true"
  [style]="{width: '800px', minWidth: '200px'}" [maximizable]="false" [baseZIndex]="10000">

  <form [formGroup]="formGroup">
    <h4>Cliente</h4>
    <hr />

    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="form-group">
          <label>Nome:</label>
          <input type="text" pInputText placeholder="Nome" class="form-control" formControlName="nomeCliente">
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="form-group">
          <label>
            Número Documento:
          </label>
          <input type="number" pInputText placeholder="Número Documento" class="form-control"
            formControlName="documentoCliente">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="form-group">
          <label>Rua:</label>
          <input type="text" pInputText placeholder="Rua" class="form-control" formControlName="ruaCliente">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="form-group">
          <label>
            <label>Bairo:</label>
            <input type="text" pInputText placeholder="Bairro" class="form-control" formControlName="bairroCliente">
          </label>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <div class="form-group">
          <label>
            <label>Número:</label>
            <input type="number" pInputText placeholder="Nº" class="form-control"
              formControlName="numeroEnderecoCliente">
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="form-group">
          <label>Cidade:</label>
          <input type="text" pInputText placeholder="Cidade" class="form-control" formControlName="cidadeCliente">
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <div class="form-group">
          <label>
            <label>CEP:</label>
            <p-inputMask mask="99999-999" formControlName="cepCliente"></p-inputMask>
          </label>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <div class="form-group">
          <label>
            <label>Complemento:</label>
            <input type="text" pInputText placeholder="Complemento" class="form-control"
              formControlName="complementoCliente">
          </label>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <div class="form-group">
          <label>UF:</label>
          <select formControlName="ufCliente" class="form-control">
            <option value="">-</option>
            <option *ngFor="let uf of ufs" value="{{ uf.value }}"><span>{{ uf.label }}</span></option>
          </select>
        </div>
      </div>
    </div>

    <h4>Destinatário</h4>
    <hr />

    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="form-group">
          <label>Nome:</label>
          <input type="text" pInputText placeholder="Nome" class="form-control" formControlName="nomeDestinatario">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="form-group">
          <label>Cidade:</label>
          <input type="text" pInputText placeholder="Cidade" class="form-control" formControlName="cidadeDestinatario">
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6">
        <div class="form-group">
          <label>Rua:</label>
          <input type="text" pInputText placeholder="Rua" class="form-control" formControlName="ruaDestinatario">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="form-group">
          <label>
            <label>Bairo:</label>
            <input type="text" pInputText placeholder="Bairro" class="form-control"
              formControlName="bairroDestinatario">
          </label>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <div class="form-group">
          <label>
            <label>Número:</label>
            <input type="number" pInputText class="form-control" formControlName="numeroEnderecoDestinatario">
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-3 col-lg-3">
        <div class="form-group">
          <label>
            <label>CEP:</label>
            <p-inputMask mask="99999-999" formControlName="cepDestinatario"></p-inputMask>
          </label>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-lg-3">
        <div class="form-group">
          <label>
            <label>Complemento:</label>
            <input type="text" pInputText placeholder="Complemento" class="form-control"
              formControlName="complementoDestinatario">
          </label>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <div class="form-group">
          <label>
            <label>UF:</label>
            <select formControlName="ufDestinatario" class="form-control">
              <option value="">-</option>
              <option *ngFor="let uf of ufs" value="{{ uf.value }}"><span>{{ uf.label }}</span></option>
            </select>
          </label>
        </div>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="ui-g-12 ui-md-4">
          <label>
            <label>Data da Coleta:</label>
            <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" formControlName="dataColeta"></p-calendar>
          </label>
        </div>
      </div>
    </div>

    <p-footer>
      <button type="button" class="btn btn-primary" (click)="salvar()">Salvar</button>
      <button type="button" class="btn btn-danger">Cancelar</button>
    </p-footer>
  </form>
</p-dialog>
