<div class="container">

  <div class="row">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Link</a>
      </li>
    </ul>
  </div>

  <div class="row" *ngIf="msgs?.length > 0">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <p-messages [(value)]="msgs"></p-messages>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <h2>Coletas</h2>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div style="text-align: right">
        <button type="button" class="btn btn-primary" (click)="cadastrarColeta()">Registrar Coleta</button>
        <button type="button" class="btn btn-primary" (click)="visualizarDespachos()"
          style="margin-left: 5px ">Visualizar Despachos</button>
      </div>
    </div>
  </div>

  <div style="margin-top: 5px">
    <p-table [value]="coletas" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>Código da Coleta</th>
          <th>Cliente/Parceiro</th>
          <th>Data da Coleta</th>
          <th>Situação</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-coleta>
        <tr>
          <td><span>{{ coleta.idColeta }}</span></td>
          <td><span>{{ coleta?.cliente?.nome }}</span></td>
          <td><span>{{ coleta.data | date:'dd/MM/yyyy'}}</span></td>
          <td><span>{{ definirStatus(coleta) }}</span></td>
          <td style="text-align: center">
            <button style="padding: 5px; margin-left: 5px;" (click)="simularFrete(coleta)">
              <i class="fa fa-calculator"></i>
            </button>
            <button style="padding: 5px; margin-left: 5px" (click)="definirCarga(coleta)"
              *ngIf="!desabilitarAcaoDespacho(coleta)" disabled>
              <i class="fa fa-calendar"></i>
            </button>
            <button style="padding: 5px; margin-left: 5px" (click)="definirCarga(coleta)"
              *ngIf="desabilitarAcaoDespacho(coleta)">
              <i class="fa fa-calendar"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>

</div>

<app-controle-tabela-frete #controleTabelaFrete (newItemEvent)="atualizarGrid()" [msgs]="msgs"></app-controle-tabela-frete>
<app-controle-expedicao #controleExpedicao (newItemEvent)="atualizarGrid()" [msgs]="msgs"></app-controle-expedicao>
<app-controle-coleta-definicao-carga #controleColetaDefinicaoDeCarga (newItemEvent)="atualizarGrid()" [msgs]="msgs">
</app-controle-coleta-definicao-carga>
